@{
    ViewBag.Title = "Home Page";
}
<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
        <!-- Slider -->
        <section id="slider" class="clear">
            <figure>
                <img src="/images/630x300.png" alt="">
                <figcaption>
                    <h2>Eu justo augue estas</h2>
                    <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat adipiscinia pellentum leo.</p>

                </figcaption>
            </figure>
        </section>
        <!-- main content -->
        <div id="intro">
            <section class="clear">

                @foreach (var x in ViewBag.Diseases)
                {
                    <div>
                        <article class="two_quarter">
                            <h2>@x.Name</h2>
                            <p>@x.Description</p>
                        </article>
                        <!-- article 2 -->
                        <article class="two_quarter lastbox">
                            <figure>
                                <ul class="clear">
                                    <li><a href="#"><img src="images/demo/130x130.gif" width="130" height="130" alt=""></a></li>
                                    <li><a href="#"><img src="images/demo/130x130.gif" width="130" height="130" alt=""></a></li>
                                    <li class="last"><a href="#"><img src="images/demo/130x130.gif" width="130" height="130" alt=""></a></li>
                                </ul>
                                <figcaption><a href="#">View Our Image Gallery Here &raquo;</a></figcaption>
                            </figure>
                        </article>
                    </div>
                }


            </section>
        </div>
        <!-- ########################################################################################## -->
        <!-- ########################################################################################## -->
        <!-- ########################################################################################## -->
        <!-- ########################################################################################## -->
        <!-- / content body -->
    </div>
</div>
